
/* колір основного  тексту */
/* color: #212121 */

/* колір вторинного тексту */
/* color: #757575; */

/* синій колір */
/* color: #2196F3; */

/* Фон секції hero */
/* color: #2F303A; */

/* Фон секції Команда */
/* background: #F5F4FA; */

/* Колір телефону та пошти у футері */
/* color: rgba(255, 255, 255, 0.6); */

/* Колір тексту всередині кнопки */
/* color: #FFFFFF; */



:root {
    --accent-color: #2196f3;
    --web-batton-hover-color: #2196f3;
    --main-text-color: #212121;
    --second-text-color:#757575 ;
    --button-text-color: #FFFFFF;
    --footer-phone-mail-color:rgba(255, 255, 255, 0.6);
  }

/* LIST  */

.list{
    list-style: none;

}

body{
    background: #FFFFFF;
    color: var(--main-text-color);
    letter-spacing: 00.03em;
    font-size: 14px;
}

/* header */

.header{
    display: flex;
    text-align: center;
}
.header-nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}


.header-logo{
    text-decoration: none;
    list-style-type: none;
    margin-left: 215px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: inherit;

}

.header-logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--web-batton-hover-color);
    /* color: var(--web_button_hover_color); */
}

.header-nav-link{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.link-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-indent: 50px; 
    line-height: 16px; */
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}


.header-contacts{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-indent: 50px; 
    line-height: 16px; */
    letter-spacing: 0.02em;
}

.header-link-contact{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    }

    
.header-link:hover,
.header-link:focus,
.header-link-contact:hover,
.header-link-contact:focus{
    color: var(--web-batton-hover-color)
}

