
/* колір основного  тексту */
color: #212121

/* колір вторинного тексту */
color: #757575;

/* синій колір */
color: #2196F3;

/* Фон секції hero */
color: #2F303A;

/* Фон секції Команда */
background: #F5F4FA;

/* Колір телефону та пошти у футері */
color: rgba(255, 255, 255, 0.6);

/* Колір тексту всередині кнопки */
color: #FFFFFF;


:root {
--web_button_hover_color: #2196F3;
--main_text_color: #212121;
--footer_phone_mail_color:rgba(255, 255, 255, 0.6);
--second-text-color: #757575;
--button_text_color:#FFFFFF;

}

/* LIST  */

.list{
    list-style: none;

}

body{
    background: #FFFFFF;
    color: var(--main_text_color);
    letter-spacing: 00.03em;
    font-size: 14px;
}

/* header */

.header{
    display: flex;
    text-align: center;
}
.header-nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}


.header-logo{
    text-decoration: none;
    list-style-type: none;
    margin-left: 215px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.header-logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--web_button_hover_color);
}

.header-nav-link{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main_text_color);
}

.header-link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main_text_color);
}

.link-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-indent: 50px; 
    line-height: 16px; */
    letter-spacing: 0.02em;
    color: var(--main_text_color);
}


.header-contacts{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-indent: 50px; 
    line-height: 16px; */
    letter-spacing: 0.02em;
}

.header-link-contact{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    }

.link-nav:hover,
.link-nav:focus,
.header-link:hover,
.header-link:focus{
    color: var(--web_button_hover_color);
}

